body{
}

header{
    text-align: center;
    padding: 20px;
}

header h1, div.mainContaint h1{
    margin-top: 0;
}

div.mainContaint{
    padding: 10px;
    width: 97%;
    margin: auto;
}

section {
    margin-top: 10px;
}

section.login-section{
    text-align: center;
}

form#login-form{
    width: 260px;
    margin: auto auto
}

form#login-form div{
    clear: both;
}

input[type=text],input[type=email], input[type=password],
input[type=submit], input[type=button]{
    padding: 3px;
    margin: 2px;
}

/* Login Page Specific */
form#login-form label{
    float: left;
}

input#login-email-input, input#login-password-input{
    float: right;
}